html {
  background-color: #EFF3FF;
}

li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Thin.woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.header {}

.header__navigation {
  padding-inline: 24px;
  padding-block: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__navigation-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.header__navigation-item {}

.header__navigation-item--friends {}

.header__navigation-item--global {}

.header__logo {}

.header__navigation-item--archive {}

.header__navigation-item--profile {}

.gratitude {
  background-color: #fff;
  border-radius: 28px;
  padding-block: 28px;
  padding-inline: 47px;
  max-width: 1000px;
  margin: 20px auto;
  font-family: 'Manrope', sans-serif;
}

.gratitude__title {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 400;
  text-align: left;
}

.gratitude__content {
  background-color: #EFF3FF;
  padding: 10px;
  border-radius: 14px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gratitude__input-wrapper {
  display: flex;
  align-items: center;
}

.gratitude__file-label {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
}

.gratitude__textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: 7px;
  background-color: #EFF3FF;
  font-size: 24px;
}

#gratitude-input {
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  transition: border 0.2s ease-in-out;
}

#gratitude-input:focus {
  border: none;
  box-shadow: none;
}

.gratitude__images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gratitude__images img {
  border-radius: 10px;
  width: 100px;
  height: 70px;
  object-fit: cover;
}

.gratitude__footer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.gratitude__save-btn {
  font-family: 'Manrope';
  font-weight: 800;
  background-color: #BDCCFF;
  border: none;
  box-shadow: 5px 6px 0px 0px rgb(232, 237, 255);
  padding: 22px 35px;
  color: white;
  font-size: 24px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

.gratitude__save-btn:hover {
  background-color: #90aaff;
}

.gratitude__public-option {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #000;
  text-transform: lowercase;
}

.gratitude__checkbox {
  appearance: none;
  width: 48px;
  height: 48px;
  border: 2px solid #9BB2FF;
  border-radius: 14px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: border-color 0.2s ease;
}

.gratitude__checkbox::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.gratitude__checkbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 6px;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.gratitude__checkbox:checked::before {
  background-color: #BDCCFF;
}

.gratitude__checkbox:checked::after {
  opacity: 1;
}

.gratitude__public-label {
  font-weight: 200;
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  border-radius: 15px;
}

.input_modal {
  border: 0px solid #ccc;
  border-radius: 14px; /* Keeping a consistent radius */
  box-sizing: border-box;
  background-color: #EFF3FF;
  height: 56px;
  box-shadow: 5px 6px 0px #C1CFFF;
  width: 80%;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  padding-left: 1rem;
}


.suggestions {
  border: 1px solid #ccc; 
  border-radius: 14px; 
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #EFF3FF;
  z-index: 1000;
  width: 23%;
  box-shadow: 5px 6px 0px #C1CFFF;
  font-family: 'Manrope', sans-serif; 
  font-size: 20px;
  padding: 0.5rem;
}

.h1_find_friends{
  font-family: 'Manrope', sans-serif;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0; /* Цвет при наведении */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}


.global {
  margin-inline: 22px;
  padding: 35px 35px 100px 35px;
  border-radius: 22px;
  background-color: #fff;
}
.globel-title {
}

.global_gratitude {
  margin-block: 20px;
}
.global__gratitude_content {
  display: flex;
  background-color: #EFF3FF;
  padding: 27px;
  border-radius: 14px;
  box-shadow: 5px 6px #E8EDFF;

}
.global_gratitude_image {
  object-fit: contain;
}
.global__gratitude_title {
  margin-block: 2px;
}
.global__gratitude_description {
  margin-block: 2px;
}

.global__gratitude_text{
  margin-left: 10px;
}

.gratitude_image{
  width: 300px;
  height: 150px;
  border-radius:11px;
}