html {
  background-color: #EFF3FF;
}

li {
  text-decoration: none;
  list-style-type: none;
  cursor: pointer;
}


@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Thin.woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

.header {}

.header__navigation {
  padding-inline: 24px;
  padding-block: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__navigation-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.header__navigation-item {}

.header__navigation-item--friends {}

.header__navigation-item--global {}

.header__logo {}

.header__navigation-item--archive {}

.header__navigation-item--profile {}

.gratitude {
  background-color: #fff;
  border-radius: 28px;
  padding-block: 28px;
  padding-inline: 47px;
  max-width: 1000px;
  margin: 20px auto;
  font-family: 'Manrope', sans-serif;
}

.gratitude__title {
  font-size: 36px;
  margin-bottom: 10px;
  font-weight: 400;
  text-align: left;
}

.gratitude__content {
  background-color: #EFF3FF;
  padding: 10px;
  border-radius: 14px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gratitude__input-wrapper {
  display: flex;
  align-items: center;
}

.gratitude__file-label {
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 10px;
}


.gratitude__textarea {
  width: 100%;
  resize: none;
  padding: 10px;
  border-radius: 7px;
  background-color: #EFF3FF;
  font-size: 24px;
}

#gratitude-input {
  border: none;
  padding: 10px;
  outline: none;
  border-radius: 8px;
  transition: border 0.2s ease-in-out;
}

#gratitude-input:focus {
  border: none;
  box-shadow: none;
}

.gratitude__images {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.gratitude__images img {
  border-radius: 10px;
  width: 100px;
  height: 70px;
  object-fit: cover;
}

.gratitude__footer {
  display: flex;
  align-items: center;
  gap: 40px;
}

.gratitude__save-btn {
  font-family: 'Manrope';
  font-weight: 800;
  background-color: #BDCCFF;
  border: none;
  box-shadow: 5px 6px 0px 0px rgb(232, 237, 255);
  padding: 22px 35px;
  color: white;
  font-size: 24px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}

.gratitude__save-btn:hover {
  background-color: #90aaff;
}

.gratitude__public-option {
  display: flex;
  align-items: center;
  font-size: 24px;
  color: #000;
  text-transform: lowercase;
}

.gratitude__checkbox {
  appearance: none;
  width: 48px;
  height: 48px;
  border: 2px solid #9BB2FF;
  border-radius: 14px;
  margin-right: 10px;
  background-color: white;
  cursor: pointer;
  position: relative;
  display: inline-block;
  transition: border-color 0.2s ease;
}

.gratitude__checkbox::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.gratitude__checkbox::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 6px;
  border: solid white;
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.gratitude__checkbox:checked::before {
  background-color: #BDCCFF;
}

.gratitude__checkbox:checked::after {
  opacity: 1;
}

.gratitude__public-label {
  font-weight: 200;
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



.input_modal {
  border: 0px solid #ccc;
  border-radius: 14px; 
  box-sizing: border-box;
  background-color: #EFF3FF;
  height: 56px;
  box-shadow: 5px 6px 0px #C1CFFF;
  width: 80%;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  padding-left: 1rem;
}


.suggestions {
  border: 1px solid #ccc; 
  border-radius: 14px; 
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  background-color: #EFF3FF;
  z-index: 1000;
  width: 23%;
  box-shadow: 5px 6px 0px #C1CFFF;
  font-family: 'Manrope', sans-serif; 
  font-size: 20px;
  padding: 0.5rem;
}

.h1_find_friends{
  font-family: 'Manrope', sans-serif;
}

.suggestion-item {
  padding: 10px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0; 
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}


.global {
  font-family: 'Manrope', sans-serif;

  margin-inline: 22px;
  padding: 35px 35px 100px 35px;
  border-radius: 22px;
  background-color: #fff;
}
.globel-title {
}

.global_gratitude {

  margin-block: 20px;
}
.global__gratitude_content {
  display: flex;
  background-color: #EFF3FF;
  padding: 27px;
  border-radius: 14px;
  box-shadow: 5px 6px #E8EDFF;

}
.global_gratitude_image {
  object-fit: contain;
}
.global__gratitude_title {
  margin-block: 2px;
}
.global__gratitude_description {
  margin-block: 2px;
}

.global__gratitude_text{
  margin-left: 10px;
}

.gratitude_image{
  width: 300px;
  height: 150px;
  border-radius:11px;
}


.profile {
  margin-inline: 115px;
  
}

.profile-header::before {
  content: '';
  position: absolute;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); 
  z-index: 1; 
}

.profile-header {
  background-image: url('/static/imagesforcss/profile-image.jpg'); 
  
  font-family: 'Manrope', sans-serif;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  color: white;
  position: relative; 
  height: 150px; 
  padding: 35px;
}

.profile-header-text {
  font-weight: 600;
  z-index: 2;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.profile-header-name, .profile-header-username {
  text-align: center;
  margin: 0;
}

.profile-header-name {
  font-size: 32px;
  font-weight: 600;
}

.profile-header-username {
  font-size: 24px;
  z-index: 2;
  margin: 0;
  color: #d3d3d3;
}

.profile-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}



.profile-header-name {
  z-index: 2;
  font-size: 32px;
  margin: 0;
}
.profile-header-username {
}
.add-friend {
  margin: 30px;
  padding-inline: 23px;
  padding-block: 18px;
  border: none;
  background-color: #F0F0F0;
  border-radius: 15px;
  width: 240px;
  font-size: 24px;
}
.edit-profile {
  margin: 30px;
  padding-inline: 23px;
  padding-block: 18px;
  border: none;
  background-color: #F0F0F0;
  border-radius: 15px;
  width: 240px;
  font-size: 24px;
}
.edit- {
  margin: 30px;
  padding-inline: 23px;
  padding-block: 18px;
  border: none;
  background-color: #F0F0F0;
  border-radius: 15px;
  width: 240px;
  font-size: 24px;
}
.profile-daily-gratitude {
  font-family: 'Manrope', sans-serif;
  padding: 30px;
  background-color: #f1f1f1;
}
.daily-gratitude-title {
  margin-block: 4px;
}
.daily-gratitude-description {
  margin-block: 4px;
}

.profile-image{
  width: 44px;
  height: 44px;
  border-radius: 100px;
}

.profile-user-content {
  background-color: #fff;
}

.modal-edit {
  font-family: 'Manrope';
  display: none; 
  position: fixed; 
  z-index: 10; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.4); 
}


.modal-edit-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #888;
  width: 80%;
}

.input-modal-edit{
  border: 0px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
  background-color: #EFF3FF;
  height: 56px;
  box-shadow: 5px 6px 0px #C1CFFF;
  width: 80%;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  padding-left: 1rem;
}

.submit-edit {
  background-color: #BDCCFF;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 70px;
  padding: 15px 30px;
  font-size: 18px;
  width: 200px;
  height: 60px; 
}

.toggle-buttons {
  display: flex; /* Устанавливаем flex-контейнер */
  gap: 55px; /* Устанавливаем расстояние между кнопками */
}

.toggle-button {
  background-color: #BDCCFF;
  color: white;
  cursor: pointer;
  width: 45%;
  height: 60px;
  border-radius: 14px;
  border: none;
  font-family: 'Manrope', sans-serif;
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 30px;

}


#calendar-container {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 10px;
}

.weekday {
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
}

#calendar div {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer; 
}

#calendar-title{
  font-family: 'Manrope', sans-serif;
}

#calendar div:hover {
  background-color: #e0f7fa; 
}

#calendar div:active {
  background-color: #b2ebf2; 
}

.flashes{
  font-family: 'Manrope', sans-serif;
}

#prev-month, #next-month {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  background-color: #BDCCFF;
  border: none;
  padding: 20px;
  color: white;
  font-size: 24px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.3s;
  height: 78px;
  text-transform: uppercase;
}

#prev-month:hover, #next-month:hover {
  background-color: #005f7f; 
}

h2 {
  margin: 10px 0;
  font-size: 24px;
}





.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
  border-radius:28px;
}


.friends-search {
  display: flex;
}
.friends-searach__icon {
}
.friends-search__input {
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  border: none;
  width: 600px;
  font-size: 20px;
  border-radius: 12px;
}

.friends-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}
.friends-list__number {
}
.friends-list__friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.friend_img {
  width: 80px;
  height: 80px;
  border-radius:100%;
}
.friend_title {
  font-weight: 300;
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}
.friend_title .name {
  margin-bottom: 0px;
  margin-bottom: 0px;
}
.friend_title .username {
  margin-bottom: 0px;
  margin-top: 0px;
  color: #858585;
}
.delete-friend {
  background-color: transparent;
  border: 0;
  margin-left: 80px;

}
