@font-face {
    font-family: 'Manrope';
    src: url('../fonts/Manrope-Thin.woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Regular.woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Medium.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-Bold.woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('../fonts/Manrope-ExtraBold.woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.header {}

.header__navigation {
  padding-inline: 24px;
  padding-block: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__navigation-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
}

.header__navigation-item {}

.header__navigation-item--friends {}

.header__navigation-item--global {}


.header__navigation-item--archive {}

.header__navigation-item--profile {}



li {
    text-decoration: none;
    list-style-type: none;
    cursor: pointer;
}

  

body {
    background-color: #E8EDFF;
}


form {

    border-radius: 28px;
    margin: 0 auto;
    padding: 20px;
    gap: 38px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    margin-top: 60px;
}


.header__logo {
    max-width: 100%;
    height: auto;
}
label {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    font-family: 'Manrope', sans-serif;
}

input[type="text"].input-error,
input[type="email"].input-error,
input[type="password"].input-error {
    border: 1px solid red;
    box-shadow: 5px 6px 0px #ec0000;
}

input[type="text"].input-normal,
input[type="email"].input-normal,
input[type="password"].input-normal {
    border: 0px solid #ccc;
    box-shadow: 5px 6px 0px #C1CFFF;
}

.error-message {
    color: red; 
    font-size: 14px; 
    margin-top: 5px; 
}



input[type="text"], input[type="email"], input[type="password"] {
    border-radius: 0px;
    box-sizing: border-box;
    background-color: #EFF3FF;
    height: 56px;
    border-radius: 14px;
    width: 100%;
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    padding-left: 1rem;
}
.formLog input[type="text"],
.formLog input[type="password"] {
    border: 0px solid #ccc;
    border-radius: 0px;
    box-sizing: border-box;
    background-color: #EFF3FF;
    height: 56px;
    border-radius: 14px;
    box-shadow: 5px 6px 0px #C1CFFF;
    width: calc(100% - 70px); 
    font-size: 20px;
    font-family: 'Manrope', sans-serif;
    padding-left: 1rem;
    margin-right: 70px; 
}

.formReg {
    width: 848px;
    height: 785px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
} 

.formLog{
    width: 848px;
    height: 429px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.classNameAndPass {
    display: flex; 
    gap: 30px;
    margin-top: 46px;
}

.nameAndPass1 {
    width: 326.72px;
    height: 94px;
    margin-left: 70px;

}

.nameAndPass2 {
    width: 326.72px;
    height: 94px;
    margin-left: 24px;
}

.logAndMail {
    width: 708px;
    height: 94px;
    margin-left: 70px;
    margin-top: 38px;
}

.loginPass{
    width: 708px;
    height: 94px;
    margin-left: 70px;
    margin-top: 38px;
}


button {
    background-color: #BDCCFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 70px;
}

button[type="submit"]{
    background-color: #BDCCFF;
    width: 224px;
    height: 73px;
    gap: 10px;
    border-radius: 14px;
    opacity: 0px;
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: 800;
    margin-top: 38px;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.toggle-password {
    position: absolute;
    right: 10px;
    cursor: pointer;
    user-select: none;
}

.input-normal {
    padding-right: 30px;
}

.input-error {
    border-color: red;
    padding-right: 30px;
}

.global {
    margin-inline: 22px;
}
.globel-title {
}

.global_gratitude {
}
.global__gratitude_content {
}
.global_gratitude_image {
}
.global__gratitude_title {
}
.global__gratitude_description {
}



.flash-messages {
    width: 951px; 
    height: 30px;
    font-family: 'Manrope', sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px; 
    text-align: center; 
    color: #FF0000; 
    display: flex;
    justify-content: center;
}


.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__navigation {
    display: flex;
    justify-content: center;
    width: 100%; /* Чтобы навигация занимала всю ширину */
}

.header__links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
    width: 100%; /* Центрируем сами ссылки */
    text-align: center;
}

.header__links a {
    font-family: 'Manrope', sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 40px;
    font-weight: 500;
    line-height: 54.64px;
    width: 6em;
}

.header__links a.active {
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #000000;
}
