{% extends "base.html" %}

{% block title %}Архив{% endblock %}

{% block content %}
<div id="calendar-container">
    
    <h2 id="calendar-title"></h2>
    <button id="prev-month"><img src="{{ url_for('static', filename='icons/arrow-icon.svg') }}" alt=""></button>
    <button id="next-month"><img src="{{ url_for('static', filename='icons/arrow-icon.svg') }}" alt="" style="transform: rotate(180deg);"></button>
    <div id="calendar"></div>
    
</div>


<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
{% endblock %}
