{% extends "base.html" %}

{% block title %}Профіль{% endblock %}

{% block content %}
<section class="global">  
    <h1 class="globel-title">За що вдячен світ</h1>

    <!-- Add a toggle for gratitude types -->
    <div class="gratitude-toggle">
        <button onclick="location.href='{{ url_for('global_gratitudes') }}'">Глобальні Подяки</button>
        <button onclick="location.href='{{ url_for('friends_gratitudes') }}'">Подяки Друзів</button>
    </div>

    {% if gratitudes %}
        {% for gratitude in gratitudes %}
        <div class="global_gratitude">
            <div class="global__gratitude_content">

                <img src="{{ url_for('static', filename='imagesforcss/profile-image.jpg') }}" alt="" class="profile-image">
                
                <div class="global__gratitude_text">
                    <h3 class="global__gratitude_title">{{ gratitude.user.login if gratitude.user else 'Невідомий' }}</h3>
                    <p class="global__gratitude_description">{{ gratitude.content }}</p>

                    {% if gratitude.image_url %}
                    <img src="{{ url_for('static', filename=gratitude.image_url) }}" class="gratitude_image" alt="Gratitude Image">
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Немає публічних подяк.</p>
    {% endif %}
</section>
{% endblock %}
