<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логін</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles1.css') }}">
    <title>BeGrateful</title>
</head>

<body>
    <header class="header">
        <nav class="header__navigation">

            <img src="{{ url_for('static', filename='icons/logo.svg') }}" alt="Logo Icon" class="header__logo">

        </nav>
    </header>

    <main class="main">
        <div class="formLog">
            <h1 class="formReg__title">Вхід</h1>

            <form action="/login" method="POST">

                <div class="logAndMail">
                    <label for="login">Логін*</label>
                    <input type="text" id="login" name="login" class="{{ 'input-error' if errors.get('login') else 'input-normal' }}" required value="{{ request.form.login }}">
                </div>
                
                <div class="loginPass">
                    <label for="password">Пароль*</label>
                    <input type="password" id="password" name="password" class="{{ 'input-error' if errors.get('password') else 'input-normal' }}" required>
                    {% if errors.get('password') %}
                        <p class="error-message">{{ errors['password'] }}</p>
                    {% endif %}
                </div>
                
                <button type="submit">Вхід</button>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </form>
        </div>
    </main>

    <footer class="footer">
        <div id="footer"></div>
    </footer>

    <script>
        function togglePassword(fieldId) {
            const passwordField = document.getElementById(fieldId);
            const type = passwordField.type === 'password' ? 'text' : 'password';
            passwordField.type = type;
        }
    </script>
</body>
</html>