<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Логін</title>
</head>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles1.css') }}">
    <title>BeGrateful</title>
</head>

<body>
    <header class="header">
        <nav class="header__navigation">
            <img src="{{ url_for('static', filename='icons/logo.svg') }}" alt="Logo Icon" class="header__logo">
            

        </nav>
    </header>
    


    <main class="main">
        <div class="formLog">
            <ul class="header__links">
                <li><a href="{{ url_for('register') }}" class="{{ 'active' if request.path == '/register' else '' }}">Реєстрація</a></li>
                <li><a href="{{ url_for('login_view') }}" class="{{ 'active' if request.path == '/login' else '' }}">Вхід</a></li>
            </ul>
            <form action="/login" method="POST">

                <div class="logAndMail">
                    <label for="login">Логін*</label>
                    <input type="text" id="login" name="login" class="{{ 'input-error' if errors.get('login') else 'input-normal' }}" required value="{{ request.form.login }}">
                </div>

                <div class="loginPass">
                    <label for="password">Пароль*</label>
                    <input type="password" id="password" name="password" class="{{ 'input-error' if errors.get('password') else 'input-normal' }}" required>

                    {% if errors.get('password') %}
                        <p class="error-message">{{ errors['password'] }}</p>
                    {% endif %}
                </div>

                <button type="submit">Вхід</button>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flash-messages">
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </form>

            {% if invalid_credentials %}
                <p class="registration-prompt">Немає акаунта? <a href="{{ url_for('register') }}">Зареєструйтеся</a></p>
            {% endif %}
        </div>
    </main>



    <footer class="footer">
        <div id="footer"></div>
    </footer>

    <script>
        function togglePassword(fieldId) {
            const passwordField = document.getElementById(fieldId);
            const type = passwordField.type === 'password' ? 'text' : 'password';
            passwordField.type = type;
        }
    </script>
</body>
</html>