{% extends "base.html" %}

{% block title %}Профіль{% endblock %}

{% block content %}
<section class="profile">

    <div class="left-side">
        
        <div class="profile-header">
            <h1 class="profile-header-text">Профіль</h1>
            <div class="profile-header-content">
                <h2 class="profile-header-name">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="profile-header-username">{{ user.login }}</p>
                <button class="edit-profile" id="editProfileButton">Змінити профіль</button>

            </div>
        </div>
    </div>

    <div class="right-side">
        <div class="info-about-user">
            <h2 class="h2-info-user">Інформація про користувача</h2>
            <div class="text-about-user">
                <p>Кількість друзів: {{ friends_count }}</p>
                <p>Кількість подяк: {{ gratitudes_count }}</p>
            </div>
        </div>
        
        <div class="profile-user-content">
            <div class="profile-daily-gratitude">
                <h2 class="daily-gratitude-title">Подяки дня</h2>
                {% if todays_gratitudes and todays_gratitudes|length > 0 %}
                    {% for gratitude in todays_gratitudes %}
                        <p class="daily-gratitude-description">{{ gratitude.content }}</p>
                        {% if gratitude.image_url %}
                            <img class="gratitude_image" src="{{ url_for('static', filename=gratitude.image_url) }}" alt="Подяка дня" />
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p class="daily-gratitude-description">Немає сьогоднішніх подяк.</p>
                {% endif %}
            </div>
        </div>
        
        
        
        
    </div>

    <div id="editProfileModal" class="modal-edit">
        <div class="modal-edit-content">
          <span class="close">&times;</span>
          <form method="POST" action="{{ url_for('edit_profile') }}">
              <label for="current_password">Поточний пароль*:</label>
              <input class="input-modal-edit" type="password" name="current_password" required>
              <br><br>
          
              <label for="first_name">Ім'я :</label>
              <input class="input-modal-edit" name="first_name" value="{{ user.first_name }}">
              <br><br>
          
              <label for="last_name">Прізвище:</label>
              <input class="input-modal-edit" name="last_name" value="{{ user.last_name }}">
              <br><br>
          
              <label for="login">Логін:</label>
              <input class="input-modal-edit" name="login" value="{{ user.login }}">
              <br><br>
          
              <label for="email">Пошта:</label>
              <input class="input-modal-edit" name="email" value="{{ user.email }}">
              <br><br>
          
              <label for="password">Новий пароль (якщо змінюється):</label>
              <input class="input-modal-edit" type="password" name="password">
              <br><br>
          
              <label for="confirm_password">Підтвердіть новий пароль:</label>
              <input class="input-modal-edit" type="password" name="confirm_password">
              <br><br>
          
              <button class="submit-edit" type="submit">Зберегти зміни</button>
              
          </form>
          <form method="POST" action="{{ url_for('logout') }}" style="display: inline;">
              <button type="submit" class="logout-button">Вийти з акаунту</button>
          </form>
          
        </div>

    </div>

</section>
{% endblock %}
